<body>
    <div class='container-fluid'>
        <div class='content-main-block'>
            <div class='row'>
                <div class='col-md-4'>
                    <div class='content-main-menu'>
                        <ul>
                            <li><h2><button>FOR LEIETAKERE</button></h2></li>
                            <li><h4><button>DAGENS MENY KANTINE</button></h2></li>
                            <li><h4><button>BUSSTIDER REALTIME</button></h2></li>
                            <li><h2><button>FOR LEIETAKERE</button></h2></li>
                        </ul> 
                    </div>
                </div>
                <div class='col-md-4'>
                    <div class='content-main-blank'>
                        
                    </div> 
                </div>
                <div class='col-md-4'>
                    <div class='content-main-blank'>
                        
                    </div>
                </div>    
            </div>    
        </div>
    </div>
</body>