<body>
    <div class='jumbotron' id='jumbo'>
        
    </div>
    <div class='container-fluid' id='main-back-alu'>
        <div class='container'>
            <div class='header-row-upper'>
                <div class='row'>
                    <div class='col-md-4'>
                        <div class='header-inner-about'>
                            <div class='header-tab-about'>
                                <p>Placeholder</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <div class='header-inner-locate'>
                            <div class='header-tab-locate'>
                                <p>Placeholder</p>
                            </div>
                        </div> 
                    </div>
                    <div class='col-md-4'>
                        <div class='header-inner-alphas'>
                            <div class='alphas-list'>
                                <p> <%=link_to 'A-Z', login_path %> </p>
                            </div> 
                        </div>
                           
                    </div>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='content-main-block'>
                <div class='row'>
                    <div class='col-md-12'> <!--use javascript to switch between these below --> 
                        <div class='content-main-placeholder1'>
                            <p>placeholder1</p>
                        </div>
                        <div class='content-main-placeholder2'>
                            <p>placeholder2</p>
                        </div>
                        <div class='content-main-alphas'>
                            <p>alphas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>