
<div class='container'>
    <div class='row'>
        <div class='col-md-4'>
            
        </div>
        <div class='col-md-4'>
            
            
        </div>
        <div class='col-md-4'>
            <div class='alphas-list'>
                <p> <%=link_to 'A-Z', login_path %> </p>
            </div>    
        </div>
    </div>
</div>