
<div class='container'>
    <div class='row'>
        <div class='col-md-4'>
            
        </div>
        <div class='col-md-4'>
            
            
        </div>
<<<<<<< Updated upstream
        <div class='col-md-4'>
            <div class='alphas-list'>
                <p> <%=link_to 'A-Z', login_path %> </p>
            </div>    
=======
        <div class='container'>
            <div class='content-main-block'>
                <div class='row'>
                    <div class='col-md-12'> <!--use javascript to switch between these below --> 
                        <div class='content-main-placeholder1'>
                            <p>placeholder1</p>
                        </div>
                        <div class='content-main-placeholder2'>
                            <p>placeholder2</p>
                        </div>
                        <div class='content-main-alphas'>
                            <p>alphas</p>
                        </div>
                    </div>
                </div>
            </div>
>>>>>>> Stashed changes
        </div>
    </div>
</div>