/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

// this is the javascript top menu css
.col-md-12 {
   .menu-button-float {
        .menu-button-img {
            p {
                font-size: 2em;
                margin-left: 2em;
            }
            background-color: rgba(173, 178, 189, 0.8);
            height: 3em;
        }
        .menu-button-active {
            p {
                font-size: 2em;
                margin-left: 2em;
            }
            background-color: rgba(173, 178, 180, 0.8);
            height: 3em;
        }
    } 
}



header {
   background-color: black;
   height: 10%;
   .fluid-container {
      max-height: 100%;
      min-height: 100%;
      .logo-home-app {
         
         .home-logo {
            margin-top: 0.2em;
            max-height: 100%;
         }      
      }
   }  
}  


html, body {
    height: 100%;
    background-image: asset-url('basalt_wall_1.1.png');
    background-size: contain;
    //background-color: rgba(173, 178, 189, 1);  
}

.body-main-app-active {
    height: 90%;
    background-image: asset-url('basalt_wall_1.1.png');
    background-size: contain;
}
