// Place all the styles related to the Portals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
    background-image: asset-url('generic_header.jpg');
    background-size: cover;
    margin: 0px;
}

#jumbo {
    margin: 0px;
    height: 300px;;
}

#main-back-alu {
    background-color: #161617;
}



.container {
    .active-tab-main { //activated tab
    margin: 3px 1px 0px 1px;
        padding: 0.1em;
        background-color: white !important;
        cursor: pointer;
        p {
            text-align: center;
        }           
    }
    .header-inner-alphas {
        margin: 3px 1px 0px 1px;
        padding: 0.1em;
        background-color: grey;
        cursor: pointer;
        p {
            text-align: center;
        }  
    }
    .header-inner-locate {
        margin: 3px 1px 0px 1px;
        padding: 0.1em;
        background-color: grey;
        cursor: pointer;
        p {
            text-align: center;
        }  
    }
    .header-inner-about {
        margin: 3px 1px 0px 1px;
        padding: 0.1em;
        background-color: grey;
        cursor: pointer;
        p {
            text-align: center;
        }  
    }
}

.content-main-block {
    height: 600px;
    background-color: white;
    
}

.content-main-alphas {
    text-align: center;
    ul {
        list-style: none;
    }
    .col-md-12 {
        
    }
    .list-item-alphas {
        border: solid black 1px;
        font-family: arial, sans-serif;
        font-size: 200%;
        background-color: rgba(212, 212, 212, 1);
        p {
            padding: 0.2em;
        }
        &:hover { //the '&' is the scss 'parent' indicator
        background-color: rgba(235, 235, 76, 1);
        }
    }
}




