<div class='container'>
    <div class='row'>
        <div class='col-md-2'>
            
        </div>
        <div class='col-md-8'>
            <div class='alpha-block-title'>
                <p><%= @alpha.name %></p>
            </div>
            <div class='alpha-block-content'>
                <p><%= @alpha.content %></p>
            </div>
        </div>
        <div class='col-md-2'>
            
        </div>
    </div>
</div>




